<ion-header [translucent]="true" style="background-color: midnightblue;">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding>
  <ion-header collapse="condense">
    <ion-toolbar style="background-color: gray;">
      <ion-title size="large" style="text-align: center;">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item>
    <ion-label class="value" style="    text-align: center;">
      {{value}}
    </ion-label>
  </ion-item>
  <div style="padding: 10vh;">
    <div *ngFor="let numGroup of numberGroups" style="padding: 1vh;">
      <ion-button *ngFor="let num of numGroup" (click)="onButtonPress(num)">{{num}}</ion-button>
    </div>
  </div>
</ion-content>